In [1]:
import pandas as pd
import numpy as np
import datetime

## 데이터 불러오기

In [5]:
actual=pd.read_csv('C:/Users/sas/Desktop/big data analysis/actual.csv',encoding='UTF-8')

In [6]:
MA = pd.read_csv('C:/Users/sas/Desktop/big data analysis/method/movingaverage.csv',encoding='UTF-8')
RF=pd.read_csv('C:/Users/sas/Desktop/big data analysis/method/randomforest.csv',encoding='UTF-8')
RBF=pd.read_csv('C:/Users/sas/Desktop/big data analysis/method/supportvectorregression_RBF_Kernel.csv',encoding='UTF-8')
PROPHET = pd.read_csv('C:/Users/sas/Desktop/big data analysis/method/prophet.csv',encoding='UTF-8')
LSTM = pd.read_csv('C:/Users/sas/Desktop/big data analysis/method/lstm.csv',encoding='cp949')

## 실제 데이터에서 equally weighted porfolio

In [7]:
actual['날짜']=pd.to_datetime(actual.날짜,format='%Y-%m-%d')
actual = actual.set_index('날짜')

In [8]:
w = [1/15, 1/15,1/15,1/15,1/15,1/15,1/15,1/15,1/15,1/15,1/15,1/15,1/15,1/15,1/15]

In [9]:
ret_data = actual.pct_change()[1:]
ret_data

,삼성전자,SK하이닉스,NAVER,씨젠,우리들휴브레인,현대차,DGB금융지주,미스터블루,셀트리온,데일리블록체인,소리바다,한화솔루션,아모레퍼시픽,CJ대한통운,GS건설
날짜,,,,,,,,,,,,,,,
2019-09-03,-0.012557,-0.007732,0.003333,-0.024719,0.020642,-0.019084,0.004373,0.051198,0.025559,0.001493,0.035088,0.008721,0.076046,-0.027397,0.000000
2019-09-04,0.019653,0.038961,0.003322,0.009217,-0.006742,0.000000,0.029028,0.004145,0.043614,0.020864,0.008475,0.002882,-0.017668,0.003521,-0.004702
2019-09-05,0.036281,0.037500,-0.026490,-0.002283,0.045249,-0.003891,0.012694,-0.037152,-0.020896,-0.001460,0.066026,0.028736,0.014388,-0.017544,0.017323
2019-09-06,0.013129,-0.013253,0.017007,-0.011442,0.000000,-0.003906,-0.008357,-0.056806,0.009146,-0.016082,0.016892,-0.008380,-0.031915,-0.025000,-0.007740
2019-09-09,0.012959,0.029304,0.023411,-0.030093,0.041126,-0.003922,0.000000,-0.101136,0.003021,-0.034175,-0.008859,0.022535,0.021978,-0.007326,0.021841
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-23,-0.008929,-0.004211,0.002725,0.008489,0.050955,-0.012097,0.004060,-0.034395,0.024725,-0.002090,-0.002849,-0.007812,-0.024814,-0.013029,0.004724
2019-12-24,-0.009009,-0.008457,-0.010870,0.020202,-0.034848,-0.004082,-0.004043,-0.062005,-0.008043,-0.026178,-0.025714,-0.010499,0.007634,-0.009901,-0.007837
2019-12-26,0.007273,0.010661,-0.008242,0.000000,0.012559,0.004098,0.009472,0.007032,0.024324,0.010753,0.027859,0.000000,-0.007576,0.000000,0.007899
2019-12-27,0.019856,0.012658,0.016620,0.011551,0.035659,-0.016327,-0.041555,0.020950,-0.029024,-0.010638,-0.001427,0.000000,-0.007634,0.030000,-0.031348
2019-12-30,-0.012389,-0.019792,0.016349,0.000000,0.067365,0.000000,-0.004196,-0.001368,-0.016304,-0.051613,0.060000,0.000000,0.025641,0.003236,0.004854

In [ ]:
weighted_returns = (w * ret_data)
port_ret = weighted_returns.sum(axis=1)

In [11]:
act_mean_ret = port_ret.mean()
act_std_returns = port_ret.std()

In [15]:
act_mean_ret

0.0022213639714073617

In [20]:
annualized_return = (act_mean_ret+1)**252 -1
annualized_return

0.7492076226020636

In [22]:
act_std_returns

0.010206941262003964

In [26]:
annualized_vol = act_std_returns*(252**0.5)
annualized_vol

0.16203016935543754

## MA

In [11]:
w = [1/15, 1/15,1/15,1/15,1/15,1/15,1/15,1/15,1/15,1/15,1/15,1/15,1/15,1/15,1/15]

In [32]:
MA.head()

,삼성전자,SK하이닉스,NAVER,씨젠,우리들휴브레인,현대차,DGB금융지주,미스터블루,셀트리온,데일리블록체인,소리바다,한화솔루션,아모레퍼시픽,CJ대한통운,GS건설
0,44492.073171,71851.219512,124158.536585,24896.951220,2246.951220,133378.048780,7789.268293,5371.036585,184121.951220,1021.439024,1058.158537,20303.048780,161164.634146,143896.341463,36849.390244
1,44487.708209,71753.063653,124160.469958,24904.231112,2242.523795,133346.073766,7778.283760,5401.537032,183861.243308,1015.054134,1056.977543,20303.695717,160544.690660,143681.662701,36809.748662
2,44490.607090,71648.832722,124168.524470,24917.087589,2238.408232,133319.806373,7767.165269,5432.409434,183597.356031,1009.079185,1055.843123,20297.643226,159947.674693,143482.658587,36767.184621
3,44515.492542,71595.769706,124231.555256,24944.125243,2235.218088,133348.096694,7755.911187,5464.999793,183275.372568,1004.677712,1055.121698,20289.687655,159434.841457,143336.105643,36747.272238
4,44535.193671,71561.571776,124252.671784,24971.492624,2231.684163,133388.927142,7746.471079,5498.353449,183053.121014,1000.405488,1054.513426,20279.805797,158897.461475,143181.667907,36731.385314

In [34]:
ret_data = MA.pct_change()[1:]

weighted_returns = (w * ret_data)
port_ret = weighted_returns.sum(axis=1)

ma_mean_ret = port_ret.mean()
ma_annualized_return = (ma_mean_ret+1)**252 -1

ma_std_returns = port_ret.std()
ma_annualized_vol = ma_std_returns*(252**0.5)

print(ma_std_returns, ma_annualized_vol)

0.0005755644397522649 0.009136802226460268

## RBF

In [31]:
w = [1/15, 1/15,1/15,1/15,1/15,1/15,1/15,1/15,1/15,1/15,1/15,1/15,1/15,1/15,1/15]

In [35]:
ret_data = RBF.pct_change()[1:]

weighted_returns = (w * ret_data)
port_ret = weighted_returns.sum(axis=1)

rbf_mean_ret = port_ret.mean()
rbf_annualized_return = (rbf_mean_ret+1)**252 -1

rbf_std_returns = port_ret.std()
rbf_annualized_vol = rbf_std_returns*(252**0.5)

In [36]:
rbf_annualized_return

0.16957049700783156

In [37]:
rbf_annualized_vol

0.006380964503111181

## Prophet

In [38]:
ret_data = PROPHET.pct_change()[1:]

weighted_returns = (w * ret_data)
port_ret = weighted_returns.sum(axis=1)

PROPHET_mean_ret = port_ret.mean()
PROPHET_annualized_return = (PROPHET_mean_ret+1)**252 -1

PROPHET_std_returns = port_ret.std()
PROPHET_annualized_vol = PROPHET_std_returns*(252**0.5)

In [39]:
PROPHET_annualized_return

-0.05113558297006582

In [40]:
PROPHET_annualized_vol

0.009136802226460268

## LSTM

In [41]:
ret_data = LSTM.pct_change()[1:]

weighted_returns = (w * ret_data)
port_ret = weighted_returns.sum(axis=1)

LSTM_mean_ret = port_ret.mean()
LSTM_annualized_return = (LSTM_mean_ret+1)**252 -1

LSTM_std_returns = port_ret.std()
LSTM_annualized_vol = LSTM_std_returns*(252**0.5)

In [42]:
LSTM_annualized_return

0.7857061750928915

In [43]:
LSTM_annualized_vol

0.12681208123792118

---

In [44]:
my_dict = {"return" :[annualized_return, ma_annualized_return, rbf_annualized_return,
                     PROPHET_annualized_return, LSTM_annualized_return], 
           "volatility" : [annualized_vol ,ma_annualized_vol ,rbf_annualized_vol , PROPHET_annualized_vol ,LSTM_annualized_vol  ]}
ewp = pd.DataFrame(my_dict)
ewp.index = ["Actual","Moving Average", "RBF", "PROPHET", "LSTM"]

In [45]:
ewp

                  return  volatility
Actual          0.749208    0.162030
Moving Average -0.051136    0.009137
RBF             0.169570    0.006381
PROPHET        -0.051136    0.009137
LSTM            0.785706    0.126812